<div id="map_canvas" style="width:1000px; height:600px"></div>

<%= content_tag "div", id: "beaches_data", data: {beaches: avg_3_or(@beach).to_json}, style: "display: none;" do %>
  Loading beaches data for javascript...
<% end %>


<%= @beach.name %>
<hr>
<%= avg_3_or.inspect %>
<hr>
Last 7 days ecoli: <%= @beach.last_7.inspect %>

<hr>
Today ecoli: <%= @beach.today_ecoli %>

<hr>


<hr>
<%= ecoli_streak(@beach) %> days streak

<hr>
This 28 days or summer:<br>
<%= last_28_or_summer(@beach).inspect %>

<hr>
Last summer data:<br>
<%= summer_ecoli(@beach, Time.now.year-1).inspect %>
