    <div class='navbar fixed'>
      <div class='container'>
        <h4 class='pull-left'>Beachr</h4>
        <ul class='pull-right'>
          <li><a href='www.google.com'>About</a></li>
        </ul>
      </div>
    </div>
    <div class='container'>

      <div class='banner row'>
        <div class='span ten'>
          <h4>A small (less than 2 kb) CSS framework</h4>
          <a href='https://github.com/andhart/bijou'><button class='button primary small'>Get it on Github</button></a>
        </div>
      </div>

      <h4 class='explainer'>Life's a beach.</h4>
      <div class='grid'>
        <div class='row'>
          <div class='span ten'><br><br><div id="map_canvas"></div></div>
        </div>

        <div><p>Take a dip at one of Toronto's 11 beaches—without risking infection!</p>
      </div>
          <footer>
      <p>Copyright Beachr 2014. This site was crafted by Alessia Bellisario, Brandon Craft, Hassan Jalil and Vladimir Dralo, students at Bitmaker Labs.</p>
    </footer>
    </div>
<div id="map_canvas" style="width:1000px; height:600px"></div>

<%= content_tag "div", id: "beaches_data", data: {beaches: avg_3_or(@beach).to_json}, style: "display: none;" do %>
  Loading beaches data for javascript...
<% end %>


<%= @beach.name %>
<hr>
<%= avg_3_or.inspect %>
<hr>
Last 7 days ecoli: <%= @beach.last_7.inspect %>

<hr>
Today ecoli: <%= @beach.today_ecoli %>

<hr>


<hr>
<%= ecoli_streak(@beach) %> days streak

<hr>
This 28 days or summer:<br>
<%= last_28_or_summer(@beach).inspect %>

<hr>
Last summer data:<br>
<%= summer_ecoli(@beach, Time.now.year-1).inspect %>


<%= content_tag "div", id: "beaches_data", data: {beaches: avg_3_or(@beach).to_json}, style: "display: none;" do %>
  Loading beaches data for javascript...
<% end %>

<%= content_tag "div", id: "beaches_this_summer", data: {table_summer: last_28_or_summer(@beach)}, style: "display: none;" do %>
  Loading beaches data for javascript...
<% end %>

<%= content_tag "div", id: "beaches_last_summer", data: {table_summer: summer_ecoli(@beach, Time.now.year-1)}, style: "display: none;" do %>
  Loading beaches data for javascript...
<% end %>

